body {
    background-color: white;
}

.sideNav {
    height: 100%; 
    width: 10%; 
    position: absolute;
    z-index: 1; 
    top: 0; 
    left: 0%;
    background-color: rgb(21, 117, 124); 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
}

.sideNav a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    text-align: left;
    position: relative;
    left: -30%;
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3 vw;
    color: white;
    display: "block";
    transition: 0.3s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

#CalendarHeading {
    color: rgb(21, 117, 124);
    font-family: europa, sans-serif;
    font-weight: 60 vw;
    font-style: normal;
    text-align: center;
}
#calendarTable {
    border: 1px dashed rgb(21, 117, 124);
    border-collapse: collapse;
    width: 90%;
    font-family: europa, sans-serif;
    font-weight: 60 vw;
    font-style: normal;;
    position: relative;
    left: 10%;
}
#th, td {
    border: 1px dashed rgb(21, 117, 124);
    border-collapse: collapse;
    height: 50px;
    width: 14%;
}
#monthHeading {
    color: rgb(15, 87, 92);
    text-decoration: underline;
    font-family: europa, sans-serif;
    font-weight: 60 vw;
    font-style: normal;
    text-align: center;
    text-align: center;
}
#dailyTasksDisplay {
    display: none;
}
#dailyTasksHeading {
    font-family: europa, sans-serif;
    font-weight: 60 vw;
    font-style: normal;;
    position: relative;
    left: 11%;
    text-decoration: underline;
}
#dailyTasks {
    font-family: europa, sans-serif;
    font-weight: 60 vw;
    font-style: normal;
    list-style: none;
    width: 50%;
    position: relative;
    left: 11%;
}
.timesModalClass {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
}
.timesModalContent {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid navy;
    width: 70%; /* Could be more or less, depending on screen size */
    position: relative;
    left: 5%;
}

#selectStartTime {
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative;
    font-weight: bold;
}
#selectHourStart {
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;;
}
#selectStartHour {
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: white;
    border: none;
}
#selectHourStart {
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;
}
#selectStartMinute {
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: white;
    border: none;
}
#selectMinuteStart {
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;
}
#selectEndTime {
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative;
    font-weight: bold;
}
#selectHourEnd {
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;
}
#selectEndHour {
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: white;
    border: navy;
}
#selectMinuteEnd {
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;
}
#selectEndMinute {
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: white;
    border: none;
}
#timeOKButton {
    font-family: runda, sans-serif;
    font-weight: 300;
    font-style: normal;
    position: fixed;
    left: 87%;
    top: 63%;
}
#dailyTasks {
    width: 300px;
}

